<h2 class="app-menu">My account</h2>
<p class="app-menu-detail">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cum recusandae
  harum a! Doloremque fugit officiis eaque dolor libero enim id unde similique
  nobis deleniti alias, odit aut ut delectus ducimus pariatur distinctio
  doloribus maiores fuga sapiente nulla aliquid animi consequatur! Veritatis
  quos hic in dolorum, corporis magnam veniam reiciendis modi unde dolorem!
  Provident dolor omnis vero pariatur, delectus fuga voluptatum error minima
  totam possimus. Illo voluptas libero eligendi quibusdam totam impedit
  temporibus aliquid modi velit porro, ullam blanditiis ipsam saepe fugit
  dolores? Vitae veniam ex et porro sed. Tempora culpa, corrupti quod adipisci
  esse magni eius deleniti et unde?
</p>
