<h2 class="app-menu">Menu 1</h2>
<p class="app-menu-detail">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, similique
  eveniet? Quia error nulla ratione enim quasi libero. Deleniti quas laudantium
  nam nisi minima, soluta magni doloribus ipsa qui molestias fugiat, corrupti
  quibusdam fuga. Natus sint, veritatis quis laborum, nam molestias, voluptas
  voluptates quae perspiciatis quisquam voluptatum nesciunt tenetur aliquid amet
  soluta doloremque nostrum numquam possimus hic minus rerum? Cum, eveniet, sunt
  ipsam excepturi, explicabo labore hic possimus neque reprehenderit aut iure
  saepe. Ducimus eos, nihil recusandae, velit numquam dolorum quam laboriosam
  rerum rem, ipsum officia! Eum voluptatem voluptates officia, cum incidunt
  repellendus. Dignissimos expedita eaque unde natus at ducimus! A laboriosam
  laborum iure quibusdam accusamus eveniet dicta eaque asperiores nemo
  reiciendis architecto quam corrupti sequi illum quia repellendus facilis ipsa
  ipsum, magnam hic. Quae blanditiis omnis iste nostrum, exercitationem quasi
  repellendus amet perspiciatis quo inventore est expedita esse. Ad nihil
  maiores, voluptatibus nemo similique cupiditate, at dignissimos non doloribus
  doloremque aperiam, incidunt sapiente eum. Provident, accusantium quidem.
  Similique, totam. Suscipit nisi nihil perspiciatis ratione sit, consectetur
  iste quos vitae alias amet dolorem facilis, qui hic recusandae id officiis?
  Deleniti explicabo sint ab? Voluptate, natus architecto, neque, assumenda
  reprehenderit doloribus corrupti ullam molestias culpa a veniam adipisci quos
  mollitia commodi.
</p>
