<h2 class="app-menu">Menu 2</h2>
<p class="app-menu-detail">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corporis iusto
  quam amet cupiditate nulla laboriosam corrupti iure beatae error ea soluta
  dignissimos maxime, officia laudantium voluptatem autem deleniti aperiam eos
  vel pariatur odit! Asperiores quasi nesciunt quidem maxime odio animi
  molestiae autem illo mollitia esse. Facilis esse optio officiis, minima unde
  laboriosam dolorum possimus? Corporis eveniet quibusdam esse dolor unde.
  Aliquam quibusdam fuga soluta tempore, odit sequi beatae dolorem, hic ab
  cupiditate nam expedita commodi, sapiente error dolorum? Iusto tempore
  explicabo totam quas perferendis? Temporibus exercitationem quod maxime, nobis
  quae omnis, sit neque commodi distinctio veniam eius perferendis expedita
  voluptatibus adipisci quis. Odio quisquam dignissimos quasi pariatur, facilis
  quae architecto? Doloribus quis est quo alias tempore, obcaecati temporibus
  labore minima quidem tenetur corporis ex consectetur. Corrupti rem excepturi
  provident sequi esse nemo cupiditate dolore iusto, optio, alias eaque et
  tempora modi molestiae cumque inventore dolorum accusantium molestias est.
  Voluptatum debitis inventore aperiam temporibus laboriosam natus ratione.
  Natus recusandae beatae libero ut ipsam autem atque, ab optio dolor
  consequatur eligendi corporis, saepe quae doloremque maxime maiores
  reiciendis, velit exercitationem. Laborum, dolorum. Itaque dolorum minima
  molestias ullam amet ut corrupti dolores. Consectetur quasi vel
  exercitationem, minima labore sapiente quod est porro iste esse. Qui omnis
  unde ea consectetur nostrum eaque nihil in sit labore. Quia quasi dolorum quis
  repudiandae, fuga laborum blanditiis tenetur molestias porro in dolores
  exercitationem asperiores, laudantium recusandae veritatis nobis inventore
  deserunt ipsam numquam, odit distinctio suscipit atque quaerat. Vero facere
  numquam porro deserunt quisquam hic dolore praesentium natus ducimus cumque
  necessitatibus sequi in, officia reprehenderit quidem! Iure voluptatum ab ipsa
  eos eaque est neque ipsum atque, labore laborum autem consectetur consequuntur
  tempora itaque modi impedit, dolores optio quis. Dolorum ab, tempore nam eum
  excepturi fuga vitae possimus? Earum reprehenderit quam praesentium laboriosam
  similique quo suscipit dolores nulla.
</p>
