<div class="container-fluid app-navbar">
  <div>
    <h4 class="app-navbar-brand">Kanban Board</h4>
  </div>

  <div>
    <h5 class="app-navbar-greetings" id="greetings"></h5>
  </div>

  <div class="d-flex">
    <div class="app-avatar">
      <img
        class="app-avatar"
        src="../svg/user-menu-close.svg"
        alt="user-menu"
        id="user-menu-close"
      />
      <img
        class="app-avatar"
        src="../svg/user-menu-open.svg"
        alt="user-menu"
        id="user-menu-open"
      />
    </div>
  </div>
</div>
