<div class="container-fluid d-flex justify-content-around app-task">
  <div class="app-column">
    <h4 class="app-field-label">Backlog</h4>
    <div class="app-task-container">
      <ul class="app-task-column app-backlog" id="backlog"></ul>
    </div>

    <button class="btn btn-light" id="backlog-addtask-btn" type="button">
      + Add Card
    </button>
  </div>

  <div class="app-column">
    <h4 class="app-field-label">Ready</h4>
    <div class="app-task-container">
      <ul class="app-task-column app-ready" id="ready"></ul>
    </div>
    <button class="btn btn-light" id="ready-addtask-btn" type="button" disabled>
      + Add Card
    </button>
  </div>

  <div class="app-column">
    <h4 class="app-field-label">In Progress</h4>
    <div class="app-task-container">
      <ul class="app-task-column app-inprogress" id="inprogress"></ul>
    </div>
    <button
      class="btn btn-light"
      id="inprogress-addtask-btn"
      type="button"
      disabled
    >
      + Add Card
    </button>
  </div>

  <div class="app-column">
    <h4 class="app-field-label">Finished</h4>
    <div class="app-task-container">
      <ul class="app-task-column app-finished" id="finished"></ul>
    </div>
    <button
      class="btn btn-light"
      id="finished-addtask-btn"
      type="button"
      disabled
    >
      + Add Card
    </button>
  </div>
</div>
